.home{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/main.jpeg');
  background-size: 100% 100%;
  background-position: center;
  .home-web{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 300px;
    font-size: 14px;
    color: white;
  }
  .home-logo{
    position: absolute;
    left: 160px;
    top: 30%;
    width: 300px;
    font-size: 45px;
    color: white;
  }
  .home-hello{
    position: absolute;
    right: 60px;
    top: 20%;
    width: 300px;
    font-size: 30px;
    color: white;
  }
  .home-volunteer{
    position: absolute;
    left: 550px;
    top: 80%;
    width: 300px;
    font-size: 30px;
    //padding:10px;
  }
}

