.pos_fixed
{
  position:fixed;
  top: 50%;
  right:5px;
}
//边栏空白
.activity-tripe{
  margin:0 auto;
  width:1190px;
}

//分类顶栏
select{
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: 1px solid #dcdddd;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background-color:white;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-left:30px;padding-right:40px;
  /*统一样式*/
  height:30px;
  text-align:center;color:#666;
}

.search-order-ullist{
  display:inline-block;
}
.search-order-lilist{
  position:relative;
  display:inline-block;
  font-size:14px;color:#666;line-height:30px;
  vertical-align:top;
  background-color:white;
}
.search-order-a{
  display:block;
  padding-left:10px;
  width:100px;
  height:30px;
  text-align:center;
  border:1px solid #dcdddd;
  cursor:pointer;
}
.search-order-a i{
  display:block;
  position:relative;
  float:right;
  width:30px;height:30px;
}
.search-itemlist-box{
  margin:20px 0px;
  border:1px solid #dcdddd;
  border-radius:5px;
  -moz-border-radius:5px; /* Old Firefox */
  background-color:white;
}
.search-item-dl{
  padding:10px 20px;
  min-height:34px;width:1148px;
  line-height:34px;font-size:14px;color:#666;
}
.search-item-dl dt,.search-item-dl dd{
  display:inline-block;
}
.search-item-dl dt{
  width:68px;
  font-weight:700;
  vertical-align:top;
}
.search-item-dl dt i{
  float:left;
  display:block;
  margin-top:7px;
  width:20px;height:20px;
}
.search-item-dd-box{
  display:inline-block;
  width:1070px;
}
.search-orderlist-box{
  margin-bottom:20px;
}

.search-item-dl dd{
  margin-right:20px;
  cursor:pointer;
}
.search-item-dl dd:hover,.search-item-dl-active{
  color:#2d8cf0;
}

.search-item-actived{
  color: #2d8cf0;
}
.all-search-input{
  padding:0px 20px;
  height:30px;
  line-height:30px;
  outline:none;
  border:1px solid #dcdddd;
}
.all-btn{
  height:32px;
  line-height:32px;color:white;text-align:center;
  outline:none;border:none;
  background-color:#2d8cf0;
  cursor:pointer;
}
//内容
.activity-itemlist-box{
  margin-left:-10px;
  width:1200px;
  font-size:0px;
}
.activity-item-box{
  display:inline-block;
  margin-left:10px;
  margin-bottom:20px;
  width:388px;height:375px;
  border:1px solid #dcdddd;
  border-radius:5px;
  -moz-border-radius:5px; /* Old Firefox */
  overflow:hidden;
  cursor:pointer;
  background-color:white;
}
.activity-item-box:hover{
  background-color:#eee;
}
.activity-item-img{
  width:100%;height:265px;
  background-size:cover;
  background-position:center;
}
.activity-item-box-h3,.info-item-right-h3{
  display:inline-block;
  width:368px;height:41px;
  margin:0px 10px;
  line-height:41px;font-weight:400;font-size:18px;
  overflow:hidden;
}
.activity-item-day{
  margin:0px 10px;
}
.activity-item-day-span{
  float:left;
  color:#999;font-size:14px;
}
.activity-item-day-p{
  float:left;
  margin:5px 10px;
  width:216px;height:10px;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  background-color:#e7e7e7;
  overflow:hidden;
}
.activity-item-day-p i{
  display:block;
  height:10px;width:50%;
  border-radius:10px;
  -moz-border-radius:10px; /* Old Firefox */
  background-color:#2d8cf0;
}
.activity-item-other{
  float:right;
  margin:14px 10px;
  width:368px;
}
.activity-item-other a{
  position:relative;
  float:left;
  display:block;
  padding-left:30px;
  height:20px;
  font-size:14px;line-height:20px;color:#999;
}
.activity-item-other i{position:absolute;left:8px;display:block;width:20px;height:20px;}
.activity-item-other-city{width:30%;overflow:hidden;}
.activity-item-other-join{width:30%;}
.activity-item-other-number{width:30%;}



