.needs-page {
  :global {
    .ivu-card-body {
      padding: 0 0;
    }
  }
}
.activity-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.activity-item {
  width: 32%;
  padding-bottom: 8px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  img {
    width: 100%;
  }
  .activity-day {
    display: flex;
    justify-content: space-around;
    padding: 0 5px 5px;
    color: #999;
  }
  .activity-info {
    display: flex;
    justify-content: space-around;
    color: #999;
  }
}

.pos_fixed {
  position:fixed;
  top: 50%;
  right:5px;
}
//边栏空白
.activity-tripe{
  margin:0 auto;
  width:1190px;
}

.search-order-ullist{
  display:inline-block;
}
.search-order-lilist{
  position:relative;
  display:inline-block;
  font-size:14px;color:#666;line-height:30px;
  vertical-align:top;
  background-color:white;
}
.search-order-a{
  display:block;
  padding-left:10px;
  width:100px;
  height:30px;
  text-align:center;
  border:1px solid #dcdddd;
  cursor:pointer;
}
.search-order-a i{
  display:block;
  position:relative;
  float:right;
  width:30px;height:30px;
}
.search-itemlist-box{
  margin:20px 0px;
  border:1px solid #dcdddd;
  border-radius:5px;
  -moz-border-radius:5px; /* Old Firefox */
  background-color:white;
}
.search-item-dl{
  padding:10px 20px;
  min-height:34px;width:1148px;
  line-height:34px;font-size:14px;color:#666;
}
.search-item-dl dt,.search-item-dl dd{
  display:inline-block;
}
.search-item-dl dt{
  width:68px;
  font-weight:700;
  vertical-align:top;
}
.search-item-dl dt i{
  float:left;
  display:block;
  margin-top:7px;
  width:20px;height:20px;
}
.search-item-dd-box{
  display:inline-block;
  width:1070px;
}
.search-orderlist-box{
  margin-bottom:20px;
}

.search-item-dl dd{
  margin-right:20px;
  cursor:pointer;
}
.search-item-dl dd:hover,.search-item-dl-active{
  color:#2d8cf0;
}

.search-item-actived{
  color: #2d8cf0;
}
.all-search-input{
  padding:0px 20px;
  height:30px;
  line-height:30px;
  outline:none;
  border:1px solid #dcdddd;
}
.all-btn{
  height:32px;
  line-height:32px;color:white;text-align:center;
  outline:none;border:none;
  background-color:#2d8cf0;
  cursor:pointer;
}



